.dropdown-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    padding: 1rem;
    cursor: pointer;
    background-color: var(--dropdown-btn-bg);
    color: var(--dropdown-text-color);
    box-sizing: border-box; 
}

.search-toggle-container {
    display: flex;
    align-items: center; 
    width: 100%;
}

.search-icon {
    flex-grow: 1; 

}

.toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%; 
}